.table {
    margin-top: 30px;
    width: 100%;
}

.action { 
    margin-right: 10px;
    cursor: pointer;
}

.delete > i { 
   color: red;
}

.edit > i { 
    color: blue;
 }

button {
    margin-top: 15px;
}