/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red { color: red}

.vertical-middle { 
    vertical-align:middle; 
}


.btn_add {
    display: flex;
    justify-content: flex-end;
}

.card-home {
    margin-top: 0.5rem;
    background-color: #f5f5f5;
}

.card-home .card-title{
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 1.2;
}

.card-home .cart-subtitle{
    font-size: 0.8rem;
}

form { 
    display: flex;
    flex-direction: column;
}

.snack-message-sucess {
    background-color: black;
}

.snack-message-error {
    background-color: red;
    color: white;
}

.snack-message-error button {
    background-color:#f5f5f5;
}

.mat-dialog-container{
    border-radius: .25rem .25rem .4rem 4rem;
    padding: 0;
}

.mat-dialog-container .content-container{
    margin: 5px 5px 15px 5px; 
    color: #8f9cb5;
    display: flex;
}

.mat-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bold;
}

.mat-dialog-container #close-icon:hover{
    cursor: pointer;
}

.mat-dialog-container #no-button{
   height: 50px;
   width: 50px;
   background-color: #fc7169;
   color: #fff;
   border-radius: 0px;
}

.mat-dialog-container #yes-button{
    height: 50px;
    width: 50px;
    background-color: #b6bece;
    color: #fff;
    border-radius: 0px;
}

.mat-dialog-container span.content-span {
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
}








